<a href="https://colab.research.google.com/github/krishnitha/Python-workshop/blob/master/Day_2_sesson_2_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
n=int(input("Enter a number students:"))
d={(input('Enter the name:')):int(input('enter the mark:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("In descending with respective of marks:")
print(sorted_a)

Enter a number students:3
enter the mark:97
Enter the name:siona
enter the mark:95
Enter the name:Ananya
enter the mark:99
Enter the name:anisha
dictionary:
{'siona': 97, 'Ananya': 95, 'anisha': 99}
In descending with respective of marks:
[('anisha', 99), ('siona', 97), ('Ananya', 95)]

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
n=int(input("Enter a number employee:"))
d={(input('Enter the name:')):int(input('enter the salary:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(0))
print("Name in alphabetical order:")
print(sorted_d)

Enter a number employee:3
enter the salary:18000
Enter the name:siona
enter the salary:20000
Enter the name:anisha
enter the salary:17000
Enter the name:nisha
dictionary:
{'siona': 18000, 'anisha': 20000, 'nisha': 17000}
Name in alphabetical order:
[('anisha', 20000), ('nisha', 17000), ('siona', 18000)]

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
n=int(input("Enter a number employee:"))
d={(input('Enter the name:')):int(input('enter the salary:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print("In ascending order salary:")
print(sorted_d)
print("sum:",sum(d.values()))
print("max:",max(d.values()))
print("min:",min(d.values()))
print("average:",sum(d.values())/n)

Enter a number employee:3
enter the salary:18000
Enter the name:siona
enter the salary:20000
Enter the name:anisha
enter the salary:17000
Enter the name:nisha
dictionary:
{'siona': 18000, 'anisha': 20000, 'nisha': 17000}
In ascending order salary:
[('nisha', 17000), ('siona', 18000), ('anisha', 20000)]
sum: 55000
max: 20000
min: 17000
average: 18333.333333333332

#4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
n=int(input("Enter a number employee:"))
d={(input('Enter the name:')):int(input('enter the salary:')) for x in range(1,n+1)}
import operator
print("dictionary:")
print(d)
res={key:val for key, val in d.items() if val>2000 and val<4000}
print("Employees whose salary is greater than 2000 and less than 4000:")
print(res)

Enter a number employee:3
enter the salary:3999
Enter the name:asha
enter the salary:2071
Enter the name:nikitha
enter the salary:4000
Enter the name:sonia
dictionary:
{'asha': 3999, 'nikitha': 2071, 'sonia': 4000}
Employees whose salary is greater than 2000 and less than 4000:
{'asha': 3999, 'nikitha': 2071}

#5.	Python program to convert a 3 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if (num>20 and num<=100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if (num>100 and num<1000):
        if num%100==0:       
            print(d[num//100]+" "+d[100])
        else:
            print(d[num//100]+" "+d[100]+" and "+d[(num%100)//10*10]+" "+d[num%10])

Enter the integer between 1 to 999:999
nine hundred and ninty nine

#1.Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
file = '/content/second'
char = 0
with open(file, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            char += len(i)
print("Number of characters:")
print(char)

Number of characters:
32

#2.Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
file = '/content/second'
count=0
with open(file, 'r') as f:
    for line in f:
         for i in line:  
              if i.isdigit() == True: 
                  count=count+1
print("The total numbers in a text file is:", count)

The total numbers in a text file is: 5

#3.Python Program to append the contents of one file to another file

In [ ]:
file1 = '/content/second'
file2 = '/content/third'
f1 = open(file1, "r")
data2 = f1.read()
f1.close()
f2 = open(file2, "a")
f2.write(data2)
f2.close()

#4.Python Program to count the number of blank spaces in a text file.

In [ ]:
file = '/content/second'
count=0
with open(file, 'r') as f:
    for line in f:
         for i in line:  
              if i==' ': 
                  count=count+1
print("The total number of spaces in a text file is:", count)

The total number of spaces in a text file is: 6

#5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
file = '/content/second'
with open(file, 'r') as f:
    for line in f:
        a=line.title()
        print(a)

My Name Is Krishnitha

My Usn Is 18Cs039